/* Scale the logo to occupy 50% of the available column width */
.wy-side-nav-search .icon img {
    width: fit-content(50%);     /* Set the logo to 50% of the parent container */
    height: auto;   /* Maintain the aspect ratio */
    display: block; /* Ensure proper rendering of the image */
    margin: 0 50px; /* Center the logo horizontally */
    padding: 10px;   /* Add some space around the logo */
}

/* Change the version text and other header text to black */
.wy-side-nav-search .version {
    color: #000 !important; /* Force black text for the version number */
}

.wy-side-nav-search {
    padding: 10px;      /* Add spacing above the logo */
    background-color: #cfcbcb; /* Light gray background color */
}

/* Style for the project name under the logo */
.wy-side-nav-search .project-name {
    color: #000 !important;           /* Set the text color to black */
    font-size: 18px;        /* Adjust font size */
    font-weight: bold;      /* Make the text bold */
    margin-top: 5px;        /* Add spacing between logo and text */
    text-align: center;     /* Ensure the text is centered */
}